= form_for @entrepreneur do |f|
  .form-group
    = f.label :desired_role, "Please specify your desired role in an institution"
    = f.text_field :desired_role, class: 'form-control'
  .form-group
    = f.label :institute_description, "Please describe the kind of institute you want to make or be a part of"
    = f.text_area :institute_description, class: 'form-control'
  .form-group
    = f.label :experience_description, "Please tell us about your experience as an entrepreneur."
    = f.text_area :experience_description, class: 'form-control'
  .form-group
    = f.label :institute_policies_interests, "Please tell us the policies you would like your institute to have."
    = f.text_area :institute_policies_interests, class: 'form-control'
  .form-group
    = f.submit "Continue sign up", class: 'btn btn-success'
