= image_tag(@user.avatar.profile.url)
%p
= "Name: #{@user.name}"
%br
= "Username: #{@user.username}"
%br
= "Email: #{@user.email}"
%br
= "Gender: #{@user.gender.capitalize}"
%br
= "Birthday: #{simple_date(@user.birthday)}"
%br
= "Skill description: #{@user.skill_description}"
%br
= "Education Level: #{@user.education_level}"
- if @user.degree?
  %br
  = "Degree: #{@user.degree}"
%br
= "You have the following kind of accounts: "
- @types.each do |type|
  = link_to type, user_types_route(type,"edit",@user)
%p
= "Are you interested in signing up as a "
- @non_types.each do |nontype|
  = link_to "#{nontype.capitalize}?", user_types_route(nontype)
%br
= "You are interested in learning:"
- @user.type_interests("student").each do |interest|
  = interest.subject
  = "with a competency of #{interest.competency}"
